.header {
    font-size: 40px;
    color: red;
    margin-bottom: 50px;
    text-align: center;
}

.fieldContainer {
    margin: auto;
    margin-bottom: 15px;
    width: 40%;
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 22px;
    letter-spacing: 1px;
}

.textBox {
    width: 75%;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid gray;
    padding: 5px 10px 5px 10px;
}